.slider {
	--swiper-pagination-bullet-inactive-color: var(--neutral-700);
	--swiper-pagination-bullet-inactive-opacity: 1;
	--swiper-pagination-color: var(--neutral-50);

	max-width: 800px;
	width: 100%;

	.swiper-pagination-bullet-active {
		--swiper-pagination-bullet-width: 2rem;
	 	--swiper-pagination-bullet-border-radius: .5rem;
	}

	.slider-item {
		@apply grid grid-rows-[auto_auto];

		.slider-item-cover {
			@apply overflow-hidden max-h-[400px];
			img {
				@apply w-full;
			}
		}

		.slider-item-text {
			@apply text-xl text-default pt-16 pb-14 text-center flex items-center justify-center w-3/4 mx-auto;
		}
	}

	.swiper-pagination {
		position: static;
	}
}
