@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&family=Space+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--header-menu-height: 48px;
		--navigation-tab-menu-height: 32px;
		--org-menu-height: 71px;

		--font-sans: 'Rubik', sans-serif;
		--font-albert: 'Albert Sans', sans-serif;
		--font-sf: 'SF Compact Display', sans-serif;
		--font-mono: 'Space Mono', monospace;

		--radius: 0.5rem;

		--font-size-xs: 0.75rem;
		--font-size-xs-line-height: 1.125rem;

		--font-size-sm: 0.875rem;
		--font-size-sm-line-height: 1.5rem;

		--brand-color-primary: #6884fd;

		--elements-strong--blue: #3148a9;
		--elements-blue: #6884fd;
		--elements-subtle-blue: #c3cefe;

		--elements-strong-green: #0b7d46;
		--elements-green: #39c682;
		--elements-subtle-green: #b0e8cd;

		--elements-strong-yellow: #9b7b08;
		--elements-yellow: #edc535;
		--elements-subtle-yellow: #f8e8ae;

		--elements-strong-purple: #8331a9;
		--elements-purple: #ce68fd;
		--elements-subtle-purple: #ebc3fe;

		--elements-strong-red: #9f2d49;
		--elements-red: #f16385;
		--elements-subtle-red: #f9c1ce;

		--elements-strong-orange: #9b4608;
		--elements-orange: #ed8235;
		--elements-subtle-orange: #f8cdae;

		--success: #0e9c58;
		--error: #c6395b;

		--theme-base-background: #ffffff;
		--theme-subtle-background: #f9f9fb;
		--theme-lighter-background: #edeef3;
		--theme-border: #edeef3;

		--theme-base-reverse-background: #191c29;
		--theme-subtle-reverse-background: #212530;
		--theme-lighter-reverse-background: #323849;
		--theme-border-reverse: #323849;

		--text-base: #191c29;
		--text-subtle: #929ab5;
		--text-disabled: #dbdde6;

		--icon-secondary: #212530;
		--icon-base: #929ab5;
		--icon-disabled: #dbdde6;

		--text-base-reverse: #ffffff;
		--text-subtle-reverse: #929ab5;
		--text-disabled-reverse: #63718e;

		--icon-secondary-reverse: #ffffff;
		--icon-base-reverse: #929ab5;
		--icon-disabled-reverse: #63718e;

		--form-input-base-background: #ffffff;
		--form-input-base-border: #dbdde6;
		--form-input-hover: #929ab5;
		--form-input-focus: #869dfe;
		--form-input-disabled-background: #f9f9fb;
		--form-input-disabled-border: #edeef3;

		--button-background-base-primary: #0053a6;
		--button-background-hover-primary: #0079f2;
		--button-background-base-secondary: #edeef3;
		--button-background-hover-secondary: #dbdde6;
		--button-background-disabled: #f9f9fb;

		--button-border-hover: #929ab5;
		--button-border-disabled: #f9f9fb;
		--button-border-base: #dbdde6;

		--surface-green: #cff1e1;
		--surface-yellow: #fbf1ce;
		--surface-red: #fcdae2;

		--wrapper-background-base: #f9f9fb;
		--wrapper-background-hover: #edeef3;
		--wrapper-background-light: #f7f8fa;

		--database: #004d0d;
		--model: #967d00;
		--field: #d4359f;
		--cache: #0079f2;
		--storage: #009118;
		--bucket: #009380;
		--file: #5a8700;
		--endpoint: #0093b0;
		--middleware: #795eff;
		--function: #c73ac7;
		--queue: #ad5700;
		--task: #e52222;
	}

	.dark {
		--theme-base-background: #0e1525;
		--theme-subtle-background: #1c2333;
		--theme-lighter-background: #2b3245;
		--theme-base-reverse-background: #ffffff;
		--theme-border: #2b3245;
		--theme-border-hover: #4e5569;

		--text-base: #f5f9fc;
		--text-subtle: #9da2a6;
		--text-disabled: #636f92;

		--icon-secondary: #ffffff;
		--icon-base: #929ab5;
		--icon-disabled: #63718e;

		--theme-base-reverse-background: #ffffff;
		--theme-subtle-reverse-background: #f9f9fb;
		--theme-lighter-reverse-background: #edeef3;
		--theme-border-reverse: #edeef3;

		--text-base-reverse: #191c29;
		--text-subtle-reverse: #929ab5;
		--text-disabled-reverse: #dbdde6;

		--icon-secondary-reverse: #212530;
		--icon-base-reverse: #929ab5;
		--icon-disabled-reverse: #dbdde6;

		--surface-green: #063e23;
		--surface-yellow: #4e3e04;
		--surface-red: #4f1724;

		--button-background-base-secondary: #323849;
		--button-background-hover-secondary: #424a61;
		--button-background-border-secondary: #46474e;
		--button-background-border-hover-secondary: #636f92;
		--button-background-disabled: #212530;

		--button-border-hover: #424a61;
		--button-border-disabled: #212530;
		--button-border-base: #46474e;

		--wrapper-background-base: #212530;
		--wrapper-background-hover: #3c445c;
		--wrapper-menu-border: #323849;
		--wrapper-background-light: #2a2f3c;

		--form-input-base-background: #2b3245;
		--form-input-base-border: #46474e;
		--form-input-hover: #636f92;
		--form-input-focus: #869dfe;
		--form-input-disabled-background: #212530;
		--form-input-disabled-border: #323849;

		--database: #7aeb8d;
		--model: #f2e088;
		--field: #ffbae8;
		--cache: #b2d9ff;
		--storage: #bfffca;
		--bucket: #69d9f0;
		--file: #c4e581;
		--endpoint: #69d9f0;
		--middleware: #cec4ff;
		--function: #ffbfff;
		--queue: #ffbd7a;
		--task: #ffcfcf;
	}
}

.flex > * {
	min-width: 0;
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-base;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
	.loading {
		@apply animate-spin mr-2;
	}
	.main-layout {
		height: calc(100vh - var(--header-menu-height));
	}
	.editor {
		.overflow-guard,
		.monaco-editor {
			border-radius: 8px !important;
		}
	}
	[type='button'] {
		@apply appearance-none;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.full-height-without-header {
		--height: calc(100vh - (var(--header-menu-height) + var(--navigation-tab-menu-height)));
		height: var(--height);
	}

	.full-max-height-without-header {
		--height: calc(100vh - (var(--header-menu-height) + var(--navigation-tab-menu-height)));
		max-height: var(--height);
	}

	.full-height-without-header-and-menu {
		--height: calc(100vh - (var(--header-menu-height) + var(--org-menu-height)));
		height: var(--height);
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.scroll {
		overflow-y: scroll;
		height: 90%;
	}
	@keyframes slideInDown {
		from {
			transform: translate3d(0, -100%, 0);
			visibility: visible;
		}

		to {
			transform: translate3d(0, 0, 0);
		}
	}

	.slideInDown {
		animation-name: slideInDown 0.5s forwards;
	}

	@keyframes slideOutUp {
		from {
			transform: translate3d(0, 0, 0);
		}

		to {
			visibility: hidden;
			transform: translate3d(0, -100%, 0);
		}
	}

	.slideOutUp {
		animation-name: slideOutUp 0.5s forwards;
	}

	.link {
		@apply text-brand-primary hover:underline font-sfCompact text-sm font-normal;
	}
}

.Toastify {
	z-index: 999999999;
	pointer-events: auto;
}
.Toastify__toast-container {
	min-width: 400px;
}
.Toastify__toast-theme--dark {
	background-color: rgb(var(--wrapper-background-light));
	color: var(--text-base);
}
.Toastify__toast-theme--light {
	background-color: rgb(var(--theme-base-background));
}
.Toastify__toast-container--top-right {
	top: 5rem;
}
.Toastify__close-button {
	align-self: center;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Toastify__close-button:hover {
	border-radius: 50%;
	background-color: rgb(var(--wrapper-background-base));
}
.Toastify__close-button--light {
	color: rgb(var(--icon-base));
	opacity: 1;
}
.Toastify__close-button > svg {
	width: 1rem;
	height: 1rem;
}
@keyframes Toastify__trackProgress {
	0% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(0);
	}
}
.Toastify__progress-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	z-index: var(--toastify-z-index);
	opacity: 0.7;
	transform-origin: left;
}

.Toastify__progress-bar--animated {
	animation: Toastify__trackProgress linear 1 forwards;
}
.Toastify__close-button {
	@apply text-icon-secondary;
}

.rdrDefinedRangesWrapper,
.rdrStaticRange {
	background-color: rgb(var(--wrapper-background-light)) !important;
}
.rdrStaticRange {
	border: none !important;
}
.rdrDefinedRangesWrapper {
	border-right: solid 1px rgb(var(--theme-border)) !important;
}
.rdrStaticRange:hover .rdrStaticRangeLabel,
.rdrStaticRange:focus .rdrStaticRangeLabel {
	background: rgb(var(--wrapper-background-hover)) !important;
}
.rdrInputRangeInput,
.rdrDateInput input {
	background-color: rgb(var(--wrapper-background-base)) !important;
	border: 1px solid rgb(var(--form-input-base-border)) !important;
	color: rgb(var(--text-subtle)) !important;
	border-radius: 4px;
}
.rdrInputRangeInput:focus,
.rdrDateInput input:focus {
	border: 1px solid rgb(var(--form-input-focus)) !important;
}
.rdrDateDisplayItem {
	border: none !important;
}
.rdrDateDisplayWrapper {
	background-color: rgb(var(--wrapper-background-light)) !important;
}
.rdrDateDisplay {
	color: rgb(var(--form-input-focus)) !important;
}
.rdrMonthAndYearWrapper {
	background-color: rgb(var(--wrapper-background-light)) !important;
	color: rgb(var(--text-base));
}
:has(.rdrYearPicker, .rdrMonthPicker) select {
	color: rgb(var(--text-base)) !important;
}
:has(.rdrYearPicker, .rdrMonthPicker) select:hover {
	background: rgb(var(--wrapper-background-hover)) !important;
}
.rdrMonths {
	background-color: rgb(var(--wrapper-background-light));
}
.rdrDayNumber span {
	color: rgb(var(--text-base)) !important;
}
.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span {
	color: white !important;
}

.rdrDayPassive .rdrDayNumber span,
.rdrMonthName,
.rdrWeekDay {
	color: rgb(var(--text-subtle)) !important;
}
.rdrStartEdge,
.rdrEndEdge {
	background: rgb(var(--button-background-base-primary)) !important;
}
.rdrInRange {
	background: rgb(var(--brand-color-primary--darker)) !important;
}
.rdrDayHovered {
	color: rgb(var(--button-background-base-primary)) !important;
}
.rdrDayHovered,
.rdrDayStartEdge,
.rdrDayEndEdge,
.rdrDaySelected {
	border: rgb(var(--button-background-base-primary)) !important;
	border-radius: var(--radius) !important;
}
.rdrPprevButton i {
	border-color: transparent rgb(var(--icon-base)) transparent transparent !important;
	border-width: 6px 9px 6px 6px !important;
}
.rdrNextButton i {
	border-color: transparent transparent transparent rgb(var(--icon-base)) !important;
	border-width: 6px 6px 6px 9px !important;
}
.rdrNextPrevButton {
	background-color: rgb(var(--wrapper-background-light)) !important;
}
.dark * {
	scrollbar-color: rgba(255, 255, 255, 0.16) transparent;
}

.light *,
* {
	scrollbar-color: rgba(11, 20, 26, 0.2) rgba(255, 255, 255, 0.1);
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 6px !important;
	height: 6px !important;
}

html .dark ::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.16);
}

::-webkit-scrollbar-thumb,
html .light ::-webkit-scrollbar-thumb {
	background-color: rgba(11, 20, 26, 0.2);
	border-radius: 6px;
}

html .dark ::-webkit-scrollbar-track {
	background-color: initial;
}

::-webkit-scrollbar-track,
html .light ::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.1);
}

.select-box {
	@apply min-h-[34px] h-9;
}
.select-box:focus-within {
	.select__control {
		@apply border-input-focus outline-none ring-0 #{!important};
	}
}

.select-box.error:not(:focus-within) .select__control {
	@apply border-error #{!important};
}
.select__placeholder,
.select__input-container {
	padding: 0 !important;
}

.select {
	&-container {
		@apply flex  w-full  text-sm text-default  rounded appearance-none;
		@apply placeholder:text-subtle placeholder:text-sm;
		@apply disabled:cursor-not-allowed disabled:opacity-50;
		@apply focus:border-input-focus focus:outline-none focus:ring-0;
		@apply disabled:bg-input-disabled-background disabled:border-input-disabled-border;
	}
	&__control {
		@apply shadow-none hover:border-input-hover min-h-[34px] h-[42px] bg-input-background border-input-border #{!important};
		@apply bg-input-background border border-input-border hover:border-input-hover w-full h-full #{!important};
	}

	&__input-container {
		@apply px-2 #{!important};
	}
	&__input {
		@apply text-default font-sfCompact #{!important};
	}
	&__placeholder {
		@apply text-subtle text-sm font-sfCompact px-2 #{!important};
	}
	&__menu {
		@apply rounded-md border bg-wrapper-background-light  #{!important};
		&-list {
			@apply p-0 #{!important};
		}
	}
	&__single-value {
		@apply text-default #{!important};
		& .transfer-email {
			@apply hidden;
		}
	}
	&__value-container {
		@apply py-0 gap-2 #{!important};
	}
	&__multi-value {
		@apply bg-wrapper-background-light flex-wrap #{!important};
	}
	&__multi-value__remove {
		@apply text-icon-base #{!important};
		&:hover {
			@apply bg-button-secondary-hover #{!important};
		}
	}
	&__clear-indicator {
		@apply cursor-pointer #{!important};
	}

	&__option {
		@apply text-default  hover:bg-lighter cursor-pointer bg-wrapper-background-light #{!important};
	}
	&__indicator-separator {
		@apply hidden #{!important};
	}
}
.monaco-editor .parameter-hints-widget {
	transform: translate(1.25rem, 50%) !important;
}

.navigator .table-body tr:last-child td {
	@apply border-b;
}
.navigator .table-cell {
	@apply bg-base;
}
.version-settings-table .table-body tr:last-child td {
	@apply border-b;
}
.version-settings-table .table-cell {
	@apply bg-base rounded-none;
}
.version-settings-table .table-head {
	@apply rounded-none;
}
.version-settings-table-container {
	@apply border-none;
}
button:focus-visible {
	@apply outline-none ring-0;
}
.Toastify__toast-container--top-center {
	top: -0.5em !important;
}
.recharts-text.recharts-cartesian-axis-tick-value {
	font-size: 14px !important;
	font-family: var(--font-sf) !important;
}
