@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Color styles */
		--brand-color-primary--darker: rgba(37, 54, 127, 1);
		--brand-color-primary: rgba(104, 132, 253, 1);
		--brand-color-subtle--primary: rgba(46, 106, 246, 1);

		--elements-strong--blue: rgba(49, 72, 169, 1);
		--elements-blue: rgba(104, 132, 253, 1);
		--elements-subtle-blue: rgba(195, 206, 254, 1);

		--elements-strong-green: rgba(11, 125, 70, 1);
		--elements-green: rgba(57, 198, 130, 1);
		--elements-subtle-green: rgba(176, 232, 205, 1);

		--elements-strong-yellow: rgba(155, 123, 8, 1);
		--elements-yellow: rgba(237, 197, 53, 1);
		--elements-subtle-yellow: rgba(248, 232, 174, 1);

		--elements-strong-purple: rgba(131, 49, 169, 1);
		--elements-purple: rgba(206, 104, 253, 1);
		--elements-subtle-purple: rgba(235, 195, 254, 1);

		--elements-strong-red: rgba(159, 45, 73, 1);
		--elements-red: rgba(241, 99, 133, 1);
		--elements-subtle-red: rgba(249, 193, 206, 1);

		--elements-strong-orange: rgba(155, 70, 8, 1);
		--elements-orange: rgba(237, 130, 53, 1);
		--elements-subtle-orange: rgba(248, 205, 174, 1);

		--success-default: rgba(14, 156, 88, 1);
		--success-hover: rgba(57, 198, 130, 1);
		--success-focus: rgba(9, 94, 53, 1);

		--error-default: rgba(198, 57, 91, 1);
		--error-hover: rgba(241, 99, 133, 1);
		--error-focus: rgba(119, 34, 55, 1);

		--theme-base-background: rgb(255, 255, 255);
		--theme-subtle-background: rgba(249, 249, 251, 1);
		--theme-lighter-background: rgba(237, 238, 243, 1);
		--theme-border: rgba(237, 238, 243, 1);

		--text-base: rgba(25, 28, 41, 1);
		--text-subtle: rgba(146, 154, 181, 1);
		--text-disabled: rgba(219, 221, 230, 1);

		--icon-darker: rgba(33, 37, 48, 1);
		--icon-base: rgba(146, 154, 181, 1);
		--icon-disabled: rgba(219, 221, 230, 1);

		--form-input-base-background: rgba(255, 255, 255, 1);
		--form-input-base-border: rgba(219, 221, 230, 1);
		--form-input-hover: rgba(146, 154, 181, 1);
		--form-input-focus: rgba(134, 157, 254, 1);
		--form-input-disabled-background: rgba(249, 249, 251, 1);
		--form-input-disabled-border: rgba(237, 238, 243, 1);

		--button-background-base-primary: rgba(74, 108, 253, 1);
		--button-background-hover-primary: rgba(104, 132, 253, 1);
		--button-background-base-secondary: rgba(237, 238, 243, 1);
		--button-background-hover-secondary: rgba(219, 221, 230, 1);
		--button-background-border-secondary: rgba(219, 221, 230, 1);
		--button-background-border-hover-secondary: rgba(146, 154, 181, 1);
		--button-background-disabled: rgba(249, 249, 251, 1);

		--surface-blue: rgba(219, 226, 255, 1);
		--surface-green: rgba(207, 241, 225, 1);
		--surface-yellow: rgba(251, 241, 206, 1);
		--surface-purple: rgba(243, 219, 255, 1);
		--surface-red: rgba(252, 218, 226, 1);
		--surface-orange: rgba(251, 225, 206, 1);

		--orange-50: rgba(251, 225, 206, 1);
		--orange-100: rgba(248, 205, 174, 1);
		--orange-200: rgba(244, 180, 133, 1);
		--orange-300: rgba(240, 155, 93, 1);
		--orange-400: rgba(237, 130, 53, 1);
		--orange-500: rgba(233, 105, 12, 1);
		--orange-600: rgba(194, 88, 10, 1);
		--orange-700: rgba(155, 70, 8, 1);
		--orange-800: rgba(117, 53, 6, 1);
		--orange-900: rgba(78, 35, 4, 1);

		--neutral-50: rgba(255, 255, 255, 1);
		--neutral-100: rgba(249, 249, 251, 1);
		--neutral-200: rgba(237, 238, 243, 1);
		--neutral-300: rgba(219, 221, 230, 1);
		--neutral-400: rgba(146, 154, 181, 1);
		--neutral-500: rgba(99, 111, 146, 1);
		--neutral-600: rgba(70, 71, 78, 1);
		--neutral-650: rgba(66, 74, 97, 1);
		--neutral-700: rgba(50, 56, 73, 1);
		--neutral-750: rgba(42, 47, 60, 1);
		--neutral-800: rgba(33, 37, 48, 1);
		--neutral-900: rgba(25, 28, 41, 1);

		--blue-50: rgba(219, 226, 255, 1);
		--blue-100: rgba(195, 206, 254, 1);
		--blue-200: rgba(164, 181, 254, 1);
		--blue-300: rgba(134, 157, 254, 1);
		--blue-400: rgba(104, 132, 253, 1);
		--blue-500: rgba(74, 108, 253, 1);
		--blue-600: rgba(62, 90, 211, 1);
		--blue-700: rgba(49, 72, 169, 1);
		--blue-800: rgba(37, 54, 127, 1);
		--blue-900: rgba(25, 36, 84, 1);

		--yellow-50: rgba(251, 241, 206, 1);
		--yellow-100: rgba(248, 232, 174, 1);
		--yellow-200: rgba(244, 220, 133, 1);
		--yellow-300: rgba(240, 208, 93, 1);
		--yellow-400: rgba(237, 197, 53, 1);
		--yellow-500: rgba(233, 185, 12, 1);
		--yellow-600: rgba(194, 154, 10, 1);
		--yellow-700: rgba(155, 123, 8, 1);
		--yellow-800: rgba(117, 93, 6, 1);
		--yellow-900: rgba(78, 62, 4, 1);

		--purple-50: rgba(243, 219, 255, 1);
		--purple-100: rgba(235, 195, 254, 1);
		--purple-200: rgba(225, 164, 254, 1);
		--purple-300: rgba(216, 134, 254, 1);
		--purple-400: rgba(206, 104, 253, 1);
		--purple-500: rgba(196, 74, 253, 1);
		--purple-600: rgba(163, 62, 211, 1);
		--purple-700: rgba(131, 49, 169, 1);
		--purple-800: rgba(98, 37, 127, 1);
		--purple-900: rgba(65, 25, 84, 1);

		--red--50: rgba(252, 218, 226, 1);
		--red--900: rgba(79, 23, 36, 1);
		--red--100: rgba(249, 193, 206, 1);
		--red--200: rgba(246, 161, 182, 1);
		--red--300: rgba(244, 130, 158, 1);
		--red--400: rgba(241, 99, 133, 1);
		--red--500: rgba(238, 68, 109, 1);
		--red--600: rgba(198, 57, 91, 1);
		--red--700: rgba(159, 45, 73, 1);
		--red--800: rgba(119, 34, 55, 1);

		--green-50: rgba(207, 241, 225, 1);
		--green-100: rgba(176, 232, 205, 1);
		--green-200: rgba(136, 221, 180, 1);
		--green-300: rgba(96, 210, 155, 1);
		--green-400: rgba(57, 198, 130, 1);
		--green-500: rgba(17, 187, 105, 1);
		--green-600: rgba(14, 156, 88, 1);
		--green-700: rgba(11, 125, 70, 1);
		--green-800: rgba(9, 94, 53, 1);
		--green-900: rgba(6, 62, 35, 1);

		--wrapper-background-base: rgba(255, 255, 255, 1);
		--wrapper-background-hover: rgba(237, 238, 243, 1);
	}

	.dark {
		--theme-base-background: rgba(25, 28, 41, 1);
		--theme-subtle-background: rgba(33, 37, 48, 1);
		--theme-lighter-background: rgba(50, 56, 73, 1);
		--theme-border: rgba(50, 56, 73, 1);

		--surface-blue: rgba(25, 36, 84, 1);
		--surface-green: rgba(6, 62, 35, 1);
		--surface-yellow: rgba(78, 62, 4, 1);
		--surface-purple: rgba(65, 25, 84, 1);
		--surface-red: rgba(79, 23, 36, 1);
		--surface-orange: rgba(78, 35, 4, 1);

		--text-base: rgba(255, 255, 255, 1);
		--text-subtle: rgba(146, 154, 181, 1);
		--text-disabled: rgba(99, 111, 146, 1);

		--icon-lighter: rgba(255, 255, 255, 1);
		--icon-base: rgba(146, 154, 181, 1);
		--icon-disable: rgba(99, 111, 146, 1);

		--button-background-base-primary: rgba(74, 108, 253, 1);
		--button-background-hover-primary: rgba(104, 132, 253, 1);
		--button-background-base-secondary: rgba(50, 56, 73, 1);
		--button-background-hover-secondary: rgba(66, 74, 97, 1);
		--button-background-border-secondary: rgba(70, 71, 78, 1);
		--button-background-border-hover-secondary: rgba(99, 111, 146, 1);
		--button-background-disabled: rgba(33, 37, 48, 1);

		--wrapper-background-base: rgba(33, 37, 48, 1);
		--wrapper-background-hover: rgba(50, 56, 73, 1);
		--wrapper-background-base-2: rgba(42, 47, 60, 1);

		--form-input-base-background: rgba(25, 28, 41, 1);
		--form-input-base-border: rgba(70, 71, 78, 1);
		--form-input-hover: rgba(99, 111, 146, 1);
		--form-input-focus: rgba(134, 157, 254, 1);
		--form-input-disabled-background: rgba(33, 37, 48, 1);
		--form-input-disabled-border: rgba(50, 56, 73, 1);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		// @apply bg-base text-foreground;
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}
}
